Repository WillowLoop/starter-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: env-example-sync, no-sensitive-data, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: ['--config', 'backend/pyproject.toml']
        verbose: true
      - id: ruff-format
        args: ['--config', 'backend/pyproject.toml']

  - repo: local
    hooks:
      - id: env-example-sync
        name: .env.example sync check
        language: python
        entry: python scripts/hooks/check_env_sync.py
        files: backend/shared/config\.py|backend/\.env\.example
        pass_filenames: false

      - id: no-sensitive-data
        name: Block sensitive data files
        entry: "Sensitive data should not be in git â€” use backend/data/ (gitignored)"
        language: fail
        files: 'backend/data/.*\.(pdf|xlsx|csv|json)$'

      - id: frontend-lint
        name: frontend eslint
        entry: pnpm --dir frontend exec eslint src/
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        types: [file]
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, test, ci, chore, build, perf, revert]

docs: translate all documentation from Dutch to English
  CLAUDE.md
  README.md
  backend/CLAUDE.md
  backend/README.md
  docs/README.md
  docs/architecture/adr/0001-frontend-tech-stack.md
  docs/architecture/adr/0002-backend-tech-stack.md
  docs/architecture/adr/0003-versioning-and-release-strategy.md
  docs/architecture/adr/0004-repository-security-and-pre-commit.md
  docs/architecture/adr/0005-cicd-pipeline-architecture.md
  docs/architecture/adr/0006-deployment-strategy.md
  docs/architecture/adr/_template.md
  docs/architecture/c4/components.md
  docs/architecture/c4/containers.md
  docs/architecture/c4/context.md
  docs/planning/design/0001-example-design.md
  docs/planning/design/_template.md
  docs/planning/prd/0001-example-prd.md
  docs/planning/prd/_template.md
  docs/planning/roadmap/_template.md
  docs/planning/roadmap/overview.md
  docs/planning/todo.md
  docs/project-documentation-guide.md
  docs/research/_template.md
  docs/workflows/_template.md
  frontend/CLAUDE.md
  frontend/README.md
  scripts/init-project.sh
Due: none

docs: add rebase plan and new planning document
  docs/planning/plans/peaceful-mixing-crab.md
  docs/planning/plans/shimmering-watching-wolf.md
Due: none

fix(.claude): align arch-check section references with English C4 docs
  .claude/commands/arch-check.md
Due: none

chore(.claude): translate remaining Dutch content to English
  .claude/agents/linkedin-style-editor.md
  .claude/agents/prd-product-reviewer.md
  .claude/agents/prd-risk-analyst.md
  .claude/agents/prd-technical-reviewer.md
  .claude/commands/prd.md
  .claude/skills/prd-workflow/SKILL.md
  .claude/skills/website-to-design-system/SKILL.md
  .claude/skills/website-to-design-system/references/oklch-guide.md
  .claude/skills/website-to-design-system/references/shadcn-variables.md
Due: none

docs(architecture): add ADR-0007 for Sentry error tracking
  docs/architecture/adr/0007-error-tracking-sentry.md
  docs/architecture/c4/containers.md
  docs/architecture/c4/context.md
Due: none

feat(backend): integrate Sentry SDK for error tracking
  backend/.env.example
  backend/app/main.py
  backend/pyproject.toml
  backend/shared/config.py
Due: env-example-sync

feat(frontend): integrate Sentry SDK for error tracking
  frontend/.env.example
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/sentry.client.config.ts
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
  frontend/src/app/error.tsx
  frontend/src/app/global-error.tsx
  frontend/src/instrumentation.ts
Due: frontend-lint

fix(frontend): replace deprecated disableLogger with bundleSizeOptimizations
  frontend/next.config.ts
Due: none

feat(backend): add test coverage thresholds at 80%
  .github/workflows/ci.yml
  backend/Makefile
  backend/pyproject.toml
  backend/uv.lock
Due: none

refactor(backend): make Redis an optional dependency
  backend/docker-compose.yml
  backend/features/health/service.py
Due: none

feat(backend): add rate limiting middleware with slowapi
  backend/.env.example
  backend/app/main.py
  backend/shared/config.py
  backend/shared/middleware/rate_limit.py
  scripts/hooks/check_env_sync.py
Due: env-example-sync

docs: improve Sentry traces sample rate guidance in env examples
  frontend/.env.example
Due: none

chore: pin Node.js version to 22
  .node-version
  frontend/package.json
Due: none

feat(frontend): add Makefile for consistent DX
  frontend/Makefile
Due: none

docs: add environment setup guide and database backup procedure
  docs/architecture/c4/containers.md
  docs/workflows/database-backup.md
  docs/workflows/environment-setup.md
Due: none

fix: isolate PostgreSQL per project to prevent multi-app conflicts
  backend/.env.example
  backend/Makefile
  backend/docker-compose.yml
  backend/shared/config.py
  backend/tests/conftest.py
  docs/workflows/environment-setup.md
Due: env-example-sync

chore: split Dependabot into minor/patch vs major update groups
  .github/dependabot.yml
  docs/workflows/dependency-management.md
Due: none

fix(backend): harden auth placeholder and error handling
  backend/shared/auth/dependencies.py
  backend/shared/lib/exceptions.py
Due: none

fix(backend): restrict CORS methods/headers and hide OpenAPI in production
  backend/app/main.py
  backend/shared/middleware/cors.py
Due: none

fix(backend): pin uv version, bind postgres to localhost, enforce SECRET_KEY length
  backend/Dockerfile
  backend/docker-compose.yml
  backend/shared/config.py
Due: env-example-sync

fix(frontend): add security headers
  frontend/next.config.ts
Due: none

fix(frontend): update vulnerable dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix: sync-upstream bootstrap bug, shell injection, and manifest strategies
  .starter-kit-files
  scripts/sync-upstream.sh
Due: none

feat: sync-upstream workflow, dev-servers, and project tooling
  .claude/commands/preflight-check.md
  .claude/hooks/typecheck-frontend.sh
  .claude/settings.json
  CLAUDE.md
  Makefile
  docs/planning/plans/clever-cuddling-orbit.md
  docs/planning/plans/steady-weaving-codd.md
  docs/workflows/upstream-sync.md
  scripts/claude-batch-task.sh
  scripts/claude-start-servers.sh
  scripts/init-project.sh
  scripts/start-dev.sh
Due: none

feat(docs): add starter-kit guide, CI/CD auto-deploy, and setup improvements
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/release.yml
  Makefile
  README.md
  docs/README.md
  docs/planning/plans/playful-hopping-gem.md
  docs/planning/plans/sharded-leaping-wolf.md
  docs/starter-kit-guide.md
  release-please-config.json
Due: none

feat(ci): replace Traefik with Caddy as default reverse proxy
  .claude/skills/deploy-setup/SKILL.md
  backend/.env.example
  backend/Caddyfile
  backend/Dockerfile.caddy
  backend/docker-compose.local.yml
  backend/docker-compose.prod.yml
  backend/shared/middleware/rate_limit.py
  docs/architecture/adr/0008-ssh-deployment-strategy.md
  docs/architecture/adr/0009-caddy-reverse-proxy.md
  docs/workflows/cicd-setup.md
  docs/workflows/disaster-recovery.md
  docs/workflows/environment-setup.md
Due: env-example-sync

feat(ci): add disaster recovery automation and deploy rollback
  .github/workflows/deploy.yml
  .gitignore
  CLAUDE.md
  Makefile
  docs/workflows/database-backup.md
  scripts/backup.sh
  scripts/restore.sh
Due: none

feat(frontend): add input validation, error sanitization, and development rules
  .claude/rules/api.md
  .claude/rules/build-errors.md
  .claude/rules/naming.md
  .claude/rules/security.md
  .claude/rules/ui.md
  .claude/rules/workflow.md
  CLAUDE.md
  frontend/src/features/items/components/item-create-form.test.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/error-handling.test.ts
  frontend/src/lib/error-handling.ts
  frontend/src/lib/input-validation.test.ts
  frontend/src/lib/input-validation.ts
Due: frontend-lint

feat(ci): consolidate deploy workflows and add SSH deployment strategy
  .github/workflows/ci.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/release.yml
  backend/shared/config.py
  backend/uv.lock
  docs/architecture/adr/0006-deployment-strategy.md
Due: env-example-sync

feat(frontend): add Dockerfile, security headers, and dependency updates
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/robots.txt
Due: none

feat: add security audit skills and sensitive file deny rules
  .claude/settings.json
  .claude/skills/deploy-setup/references/deploy-template.yml
  .claude/skills/security-audit/SKILL.md
  .claude/skills/security-code-scan/SKILL.md
  .claude/skills/security-code-scan/references/owasp-fastapi.md
  .claude/skills/security-code-scan/references/owasp-nextjs.md
  .claude/skills/security-code-scan/references/prompt-injection.md
  .claude/skills/security-config-scan/SKILL.md
  .claude/skills/security-config-scan/references/docker-checklist.md
  .claude/skills/security-config-scan/references/headers-checklist.md
  .claude/skills/security-deps-scan/SKILL.md
  .claude/skills/security-exposure-scan/SKILL.md
  .claude/skills/security-exposure-scan/references/crawler-blocking.md
Due: none

docs: add implementation plans from recent sessions
  docs/planning/plans/adaptive-gliding-melody.md
  docs/planning/plans/breezy-seeking-hummingbird.md
  docs/planning/plans/jolly-sniffing-sunrise.md
  docs/planning/plans/magical-fluttering-ripple.md
  docs/planning/plans/reactive-mixing-key.md
Due: none
